<section class="new-post-section">
  <div class="new-post-container">
       <h1>Add a new post</h1>
       <%= form_with model:@post, url:user_posts_path do |form|%>
        <%= form.label :title%>
        <%= form.text.filed :title%><br>

        <div class="text-container">
          <%= form.label :text%>
           <%= form.text_area :text, cols:40, row:1%>
        </div>

        <%=form.submit "Submit", class:"new-post-btn submit-btn"%>
     <% end%>
  </div>

</section>